@import '../../variable.scss';

.forth_section_container {
    padding: 30px 0px;
    text-align: center;

    .slick-center .package {
        background: rgb(2, 157, 224);
        background: linear-gradient(121deg, rgba(2, 157, 224, 1) 0%, rgba(2, 223, 224, 1) 100%);
        transition: all 2s ease-in-out;
        box-shadow: 0px 4px 11px 4px #00000094;
       
        border-radius: 12px;
        

        * {

            color: white;
        }
        .package_price {
            color: white;
        }
        .package_btn {
            background-color: white !important;
            background: white;
            color: $main_color;
        }
    }

    .slick-prev::before,
    .slick-next::before {
        color: $main_color !important;
        font-size: 2rem !important;
    }

    .package {
        padding: 45px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #727272;
            // border: 2px solid #555555;
        }

        .package_cat {
            padding: 0px 10px;
        }

        .package_price {
            color: $main_color;
            font-size: 2.5rem;
        }

        .package_description {
            padding: 0px 10px;
        }

        .package_list {
            list-style: none;
            height: 200px;
            overflow-y: auto;
            margin: 30px 20px;
            color: black;
            font-weight: 500;

            

            li {
                padding: 2px 0px;
            }
        }

        .package_btn {
            background: rgb(2, 157, 224);
            background: linear-gradient(121deg, rgba(2, 157, 224, 1) 0%, rgba(2, 223, 224, 1) 100%);
            border: none;
            color: white;
            padding: 10px 25px;
            border-radius: 50px;    
        }

    }
}